*.gem
*.rbc
.bundle/
.config/
coverage/
InstalledFiles/
lib/bundler/man/
pkg/
rdoc/
spec/reports/
test/tmp/
test/version_tmp/
tmp/

# Ignore Gemfile.lock for gems
Gemfile.lock

# YARD Artifacts
.yardoc
_yardoc
doc/

# Temporary Files
.*.sw[a-z]
*~
